{% extends "layout.html" %}
{% block content %}

<main>
    <div class="container text-center" id="modelcont">

        <model-viewer
                class="indexmodel" alt="Moa"
                alt="3d Model"
                src="{{model}}"
                shadow-intensity="1"
                poster="{{poster}}"
                loading="lazy"
                camera-controls
                auto-rotate
                auto-rotate-delay="0"
        ></model-viewer>

        <div id="typetext-container"><span id="typetext" class="text-center"></span></div>
                <a id="learnmore" class="grow line-fade line-fade-m fadeabout text-center" href="{{ url_for('about') }}">
            <i class="bi bi-box-arrow-in-right me-1"></i>
            <span>{{_('learn more')}}</span>
        </a>
    </div>
</main>

<script src="/static/js/index.js"></script>

{% include 'footer.html' %}

{% endblock %}