body {
    padding-top: 3.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0) 15%, rgb(21, 21, 21) 50%, rgb(115, 115, 115) 95%, rgb(151, 151, 151));
    min-height: 100vh;
}

.fade-me {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s linear 0.5s;
}

.images-loaded .fade-me {
    opacity: 1;
}

.item {
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
    z-index: 1;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item-content {
    position: relative;
    cursor: pointer;
}

.item-content > * {
    background: rgb(245 245 245 / 15%);
    color: whitesmoke;
    border-radius: 6px;
    --bs-card-border-width: none;
    box-shadow: 0 0 5px 5px rgb(245 245 245 / 15%);
    transition: background 1s, box-shadow 1s;
}

.item-content:hover > * {
    background: rgb(245 245 245 / 26%);
    box-shadow: 0 0 5px 5px rgb(245 245 245 / 26%);
    transition: background 1s, box-shadow 1s;
}

.item-content > model-viewer {
    min-height: 45vh;
}

@media screen and (max-width: 400px) {
    .sortbuttons {
        display: inline !important;
    }

    #tiles {
        margin-top: 16rem !important;
    }
}

@media screen and (max-width: 600px) {
    .item-content > * {
        width: calc(100vw - (3rem + 15px));
    }
}

@media screen and (min-width: 600px) {
    .item-content > * {
        width: calc(50vw - (3rem + 10px));
    }
}

@media screen and (max-width: 768px) {
    #tiles {
        margin-top: 10rem;
    }
}

@media screen and (min-width: 769px) {
    .item-content > * {
        width: calc(33vw - (3rem + 7px));

    }

    #tiles {
        margin-top: 6rem;
    }
}

@media screen and (min-width: 1177px) {
    #tiles {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1000px) {
    .item-content > * {
        width: calc(25vw - (3rem + 5px));
    }
}

@media screen and (min-width: 1300px) {
    .item-content > * {
        width: calc(20vw - (3rem + 3px));
    }
}

.list .item-content > * {
    width: calc(100vw - (3rem + 15px));
}

.list .item-content .image-content {
    display: none;
}

.list-image {
    max-height: 150px;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    transition: opacity 0.5s linear 0.5s;
    color: whitesmoke;
    max-height: 50vh;
}

.images-loaded .loading {
    display: none;
}

.image-content {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.sortbuttons {
    display: inline-flex;
    padding-top: 5px;
    font-size: larger;
    text-align: center;
}

.fixed-second {
    position: fixed;
    top: 56px;
    background: linear-gradient(180deg, rgba(0, 0, 0) 0%, rgb(0, 0, 0) 90%, rgb(0, 0, 0, 0) 100%);
    z-index: 500;
    width: 100%;
    padding-bottom: 1rem;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;;
}

.custom-select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='whitesmoke' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}

.counter {
    font-size: medium;
    vertical-align: middle;
}