.grid {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s linear 0.5s;
}

.images-loaded .grid {
    opacity: 1;
}

.item {
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
    z-index: 1;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item-content {
    position: relative;
    cursor: pointer;
}

.item-content > * {
    background: rgb(245 245 245 / 15%);
    color: whitesmoke;
    border-radius: 6px;
    --bs-card-border-width: none;
    box-shadow: 0 0 5px 5px rgb(245 245 245 / 15%);
    transition: background 1s, box-shadow 1s;
}

.item-content:hover > * {
    background: rgb(245 245 245 / 26%);
    box-shadow: 0 0 5px 5px rgb(245 245 245 / 26%);
    transition: background 1s, box-shadow 1s;
}

.item-content > model-viewer {
    min-height: 45vh;
}


@media screen and (max-width: 600px) {
    .item-content > * {
        width: calc(100vw - (3rem + 15px));
    }
}

@media screen and (min-width: 600px) {
    .item-content > * {
        width: calc(50vw - (3rem + 10px));
    }
}

@media screen and (min-width: 769px) {
    .item-content > * {
        width: calc(33vw - (3rem + 7px));
    }
}

@media screen and (min-width: 1000px) {
    .item-content > * {
        width: calc(25vw - (3rem + 5px));
    }
}

@media screen and (min-width: 1300px) {
    .item-content > * {
        width: calc(20vw - (3rem + 3px));
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    transition: opacity 0.5s linear 0.5s;
    color: whitesmoke;
    max-height: 50vh;
}

.images-loaded .loading {
    display: none;
}

.image-content {
    max-width: 100%;
    height: auto;
}

.sortbuttons {
    display: inline-flex;
    padding-top: 5px;
    font-size: larger;
}

