.MuiAppBar-positionAbsolute, .mirador-viewer {
    top: 3.5rem;
}

.mosaic-tile {
    margin: 0;
}

.mosaic-root {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.mirador-canvas-nav {
    display: none;
}

#loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}