.max-screen {
    height: calc(100vh - 56px);
    margin-top: 56px;
}

.min-max-screen {
    min-height: calc(100vh);
    align-content: space-around;

}

#introText {
    padding-top: calc(56px + 2rem);
    font-size: 1.5rem;
}

.case-study-title {
    margin-top: 8vh;
    margin-bottom: 5vh;
}

#caseStudies {
    padding-top: 56px;
    margin-top: -56px;
    padding-bottom: 56px;
    margin-bottom: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card {

    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    --bs-card-border-width: none;
    width: 100%;
    min-height: auto;
    transition: background 1s, box-shadow 1s;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 10px;

}

.card-title {
    margin-bottom: 1.5vh;
    font-size: 1.5rem;
}

.caseStudyText {
    padding: 5px;
    font-size: 0.85rem;
    text-align: justify;
}

.card:hover {
    background: rgba(14, 11, 5, 0.585);
    transition: background 1s, box-shadow 1s;
}

.minus-navbar {
    margin-top: 56px;
}

.card-img {
    opacity: 0.33;
    filter: blur(0.2px);
    filter: grayscale(100%);
}

.card-img-overlay {
    width: 100%;
    height: auto;
}


@media (max-width: 1400px) {

    .caseStudyText {
        font-size: 0.68rem;
        padding: 0px;
    }
}

@media (max-width: 1200px) {

    .col-md-3 {
        width: 80%;
    }

    #caseStudyCards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .card-img-overlay {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .caseStudyText {
        font-size: 2.3rem;
        padding: 10px;
        text-align: justify;
    }

    .card-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 992px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .caseStudyText {
        font-size: 1.5rem;
        text-align: justify;
    }

    .card-title {
        font-size: 1.9rem;
    }
}

@media (max-width: 765px) {
    #caseStudyCards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .caseStudyText {
        font-size: 1.1rem;
        text-align: justify;
    }

    .card-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 501px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .caseStudyText {
        font-size: 1rem;
        text-align: justify;
    }

    .card-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 473px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .caseStudyText {
        font-size: 0.8rem;
        text-align: justify;
    }

    .card-title {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .caseStudyText {
        font-size: 0.70rem;
        text-align: justify;
    }

    .card-title {
        font-size: 0.9rem;
    }
}

@media (max-width: 361px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .caseStudyText {
        font-size: 0.6rem;
        text-align: justify;
    }

    .card-title {
        font-size: 0.8rem;
    }
}

.cs-card {
    height: calc(50vh - 28px);
    color: whitesmoke;
    font-size: 5vw;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: block;
}

.lastcard {
    background: black;
}

.foreground {
    align-content: center;
    background: rgba(0, 0, 0, 0.63);
    transition: background 0.5s ease;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.background:hover {
    color: whitesmoke;
    transform:scale(1.1)
}

.background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
    align-content: center;
    transition: 1s ease;
}

.cs-name {
    background: #0000005e;
    height: 100%;
    align-content: center;
    transition: background 0.5s ease;
}

.cs-name:hover {
    background: rgba(0, 0, 0, 0.2);
}


