body {
    padding-top: 12.5rem;
}

.grid {
    position: relative;
    opacity: 1;
    transition: opacity 0.1s linear 0.1s;
}

.item {
    position: absolute;
    z-index: 1;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item-content, .gal-item-content {
    position: relative;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    border-top: 10px solid transparent;
}

.hover-img:hover + .btn-panel > .img-btn, .hover-img:hover + .btn-panel > .img-btn > i {
    opacity: 0.7;
    transition: opacity 0.3s !important;
}

.btn-panel {
    cursor: pointer;
}

#network-cont *:hover + .img-btn, #network-cont *:hover + .img-btn > i {
    opacity: 0.8;
    transition: opacity 0.3s !important;
    color: whitesmoke;
    border-radius: 0;
    box-shadow: none;
}

.item-content > .img-btn:hover {
    opacity: 1 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.item-content > .img-btn:hover + i {
    opacity: 1 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: whitesmoke;
    color: whitesmoke !important;
    border: none;
}

#ntw-large * {
    color: whitesmoke;
    opacity: 1 !important;
}

#map:hover .btn-panel > .img-btn, #map:hover .btn-panel > .img-btn > i {
    opacity: 0.8;
    transition: opacity 0.3s !important;
    color: whitesmoke;
}

.img-btn:hover {
    opacity: 1 !important;
}

.img-btn {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 2.5rem !important;
    height: auto;
    z-index: 500;
    border: 5px solid;
    background: rgb(122, 122, 122) !important;
    color: rgb(117, 117, 117) !important;
    opacity: 0;
    transition: 1s !important;
    font-size: 1.5rem;
    text-align: center;
    display: inline-table;
}

.img-btn:active {
    box-shadow: 0 0 1px 1px rgb(141, 141, 141) !important;
    opacity: 1 !important;
}

.item-content > * {
    background: rgb(245 245 245 / 10%);
    color: whitesmoke;
    --bs-card-border-width: none;
    transition: background 1s;
}

.item-content:hover > * {
    background: rgb(245 245 245 / 30%);
    transition: background 1s;

}

.item-content > model-viewer {
    min-height: 45vh;
}

@media screen and (max-width: 768px) {

    body {
        padding-top: 15.5rem;
    }

    .filter-title {
        display: none;
    }

    #map {
        height: 40vh;
    }

    .large-map {
        height: calc(97vh - 15.5rem) !important;
        width: calc(100vw - 12px - 22px) !important;
    }

    .item-content-network {
        height: calc(97vh - 15.5rem) !important;
    }

    .img-btn  {
        opacity: 1;
    }

    .img-btn i, .story-btn-text {
        color: whitesmoke;
        opacity: 1!important;
    }

    .story-btn-img {
        opacity: 0.5;
    }


}

.tl-cont {
    max-height: unset !important;
}

.large-map {
    height: calc(90vh - 56px);
    width: calc(100vw - 12px - 22px) !important;
}

@media screen and (min-width: 769px) {

    body {
        padding-top: 15.5rem;
    }

    .filter-title {
        display: inline-flex;
    }

    #map {
        height: 40vh;
    }

    .large-map {
        height: calc(97vh - 12.5rem) !important;
        width: calc(100vw - (4rem + 15px)) !important;
    }

    .item-content-network {
        height: calc(80vh - 12.5rem) !important;
    }
}


@media screen and (min-width: 1200px) {

    body {
        padding-top: 10.5rem;
    }

    #map {
        height: 40vh;
    }

    .large-map {
        height: calc(97vh - 11.5rem) !important;
        width: calc(100vw - 12px - 22px) !important;
    }

    .item-content-network {
        height: calc(60vh - 11.5rem) !important;
    }
}

.tl-media {
    max-width: 100%;
    max-height: 100%;
}

.gal-100 > * {
    width: calc(100vw - (3rem + 15px));
}

.gal-grid {
    position: relative;
}

.gal-item {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}

.gal-item.muuri-item-dragging {
    z-index: 3;
}

.gal-item.muuri-item-releasing {
    z-index: 2;
}

.gal-item.muuri-item-hidden {
    z-index: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    transition: opacity 0.5s linear 0.5s;
    color: whitesmoke;
    z-index: 10000;
}

.images-loaded .loading {
    display: none;
}

.images-loaded .fade-me {
    opacity: 1;
}

.fade-me {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s linear 0.5s;
}

.underline-link {
    text-decoration: none;
    color: #f5f5f5 !important;
    display: inline;
    padding-bottom: 3px;
}

.actor-box {
    display: -webkit-inline-box;
}

.badge-btn, .badge-btn:hover {
    text-decoration: none;
    color: unset;
    padding-bottom: 3px
}

.breaklink {
    text-decoration: none;
    color: #f5f5f5;
}

.breaklink:hover {
    text-decoration: underline;
    color: #ffffff;
}

.sub-info-accordion {
    padding-top: 1rem;
    --bs-accordion-color: #f5f5f5;
    --bs-accordion-bg: none;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #212529;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='whitesmoke' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='whitesmoke' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #0c63e4;
    --bs-accordion-active-bg: #e7f1ff;
}

.sub-info-accordion * {
    color: #f5f5f5;
    padding: 0;
    max-width: fit-content;
}

.sub-info-accordion .accordion-button:not(.collapsed) {
    color: whitesmoke;
    background-color: transparent;
    box-shadow: none;
}

.sub-info-accordion .accordion-button::after {
    margin-left: 1rem;
}

.sub-info-accordion .accordion-body, .margin-event {
    margin-right: 3rem;
}

.inside-link * {
    color: #56b3b3 !important;
}

.this-event {
    border: 2px solid !important;
}

.model-3d {
    min-height: 45vh;
    width: 100%;
    height: 100%;
}

.item-3d {
    text-align: center;
    min-height: 45vh;
}

.fullscreen-btn {
    font-size: 1.5rem;
    color: #ffffff;
}

.ent-content > .card {
    max-height: 42.5vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.map-body {
    padding: 0;
}

.ent-box {
    max-width: 90%;
    display: inline-block;
    margin-right: 1rem;
}

.nav-second {
    position: fixed;
    background: black;
    width: 100%;
    z-index: 1000;
    top: 56px;
    padding-bottom: 3rem;
    padding-top: 2rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: top 0.3s ease-in-out; /* Add smooth transition for better user experience */
}


.filter-label {
    color: rgba(255, 255, 255, 0.55) !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.filter-label:hover {
    color: rgba(255, 255, 255, 0.80) !important;
}

#filterClasses {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.timeline__content {
    border-radius: 0 !important;
}

.timeline-header {
    padding: 1rem;
}

.item-content-network {
    height: 50vh;
}

#network {
    height: 100%;
}

.fullwidthnw {
    width: 100% !important;
}

#loadingspinner {
    z-index: 5001;
    position: absolute;
    left: 50%;
    bottom: 50%;
    background: none;
}

.card {
    border-radius: 0 !important;
}

.story-btn-img {
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s;
}

.story-btn-text {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 37%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 3rem;
    font-weight: 700;
    pointer-events: none;
}

.story-card:hover .story-btn-img {
    opacity: 0.4;
}

.story-btn-img:hover + .story-btn-text {
    opacity: 1
}

.loadmore-imgs {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #00000085;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s;
}

.loadmore-imgs:hover {
    background-color: rgba(0, 0, 0, 0.22);
    color: white;
}

@media screen and (max-width: 499px) {
    .ent-content > .card {
        max-height: unset;
    }
}

@media screen and (min-width: 0px) {
    .item-content > *, .gal-item-content > *, tl-cont > *, .bib-cont > * {
        width: calc((100vw - 12px));
        border-left: 0px;
        border-right: 0px;
    }
}

@media screen and (min-width: 500px) {
    .item-content > * {
        width: calc((100vw - 12px) - 22px);
    }

    .gal-item-content > * {
        width: calc((100vw - 12px) / 2 - 22px);
    }

    .item-content, .gal-item-content {
        border: 10px solid transparent;
    }

    .tl-cont > *, .bib-cont > * {
        width: calc(100vw - 12px - 22px) !important;
    }
}


@media screen and (min-width: 801px) {
    .item-content > * {
        width: calc((100vw - 12px) / 2 - 22px);
    }

    .gal-item-content > * {
        width: calc((100vw - 12px) / 4 - 22px);
    }

}

#headlineBox {
    padding-left: 1rem;
    padding-right: 1rem;
}


@media screen and (min-width: 1400px) {
    .item-content > * {
        width: calc((100vw - 12px) / 3 - 22px);
    }

    .gal-item-content > * {
        width: calc((100vw - 12px) / 6 - 22px);
    }
}


@media screen and (min-width: 1600px) {
    .item-content > * {
        width: calc((100vw - 12px) / 4 - 22px);
    }

    .gal-item-content > * {
        width: calc((100vw - 12px) / 8 - 22px);
    }
}

.nopointerevents > .vis-network {
    pointer-events: none;
}

#videoInfoContent {
    transition: height 3s ease-in-out;
}