.grid {
    position: relative;
    opacity: 1;
    transition: opacity 0.1s linear 0.1s;
}

.item {
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
    z-index: 1;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item-content {
    position: relative;
    cursor: pointer;
}

.hover-img:hover + .btn-panel > .img-btn {
    opacity: 1;
    transition: opacity 0.5s !important;
}

.img-btn {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: auto !important;
    z-index: 500;
    background: rgb(122, 122, 122) !important;
    color: rgb(117, 117, 117) !important;
    opacity: 0;
    box-shadow: 0 0 4px 3px rgb(122, 122, 122) !important;
    transition: 1s !important;
}

.img-btn:hover {
    background: #6c6c6c !important;
    opacity: 1;
    box-shadow: 0 0 5px 5px #6c6c6c !important;
}

.img-btn:active {
    border-color: rgba(218, 6, 6, 0) !important;
    box-shadow: 0 0 6px 6px rgb(141, 141, 141) !important;
}

.item-content > * {
    background: rgb(245 245 245 / 10%);
    color: whitesmoke;
    border-radius: 6px;
    --bs-card-border-width: none;
    box-shadow: 0 0 5px 5px rgb(245 245 245 / 10%);
    transition: background 1s, box-shadow 1s;
}

.item-content:hover > * {
    background: rgb(245 245 245 / 30%);
    box-shadow: 0 0 5px 5px rgb(245 245 245 / 30%);
    transition: background 1s, box-shadow 1s;

}

.item-content > model-viewer {
    min-height: 45vh;
}

@media screen and (max-width: 768px) {
    .item-content > * {
        width: calc(100vw - (4rem + 15px));
    }

    #map {
        height: 40vh;
    }

    .img-btn {
        opacity: 1;
    }
}

@media screen and (min-width: 769px) {
    .item-content > * {
        width: calc(50vw - (3rem + 10px));
    }

    #map {
        height: 40vh;
    }

    .tl-cont > * {
        width: calc(100vw - (4rem + 15px));
    }

    .bib-cont > * {
        width: calc(100vw - (4rem + 15px));
    }
}

@media screen and (min-width: 1200px) {
    .item-content > * {
        width: calc(33vw - (2rem + 3px));
    }

    #map {
        height: 40vh;
    }

    .tl-cont > * {
        width: calc(100vw - (3rem + 15px));
    }

    .bib-cont > * {
        width: calc(66vw - (2rem + 3px));
    }
}

.tl-media {
    max-width: 100%;
    max-height: 100%;
}

.gal-100 > * {
    width: calc(100vw - (3rem + 15px));
}

.gal-grid {
    position: relative;
}

.gal-item {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    margin: 0.5rem;
    z-index: 1;
}

.gal-item.muuri-item-dragging {
    z-index: 3;
}

.gal-item.muuri-item-releasing {
    z-index: 2;
}

.gal-item.muuri-item-hidden {
    z-index: 0;
}

.gal-item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    transition: opacity 0.5s linear 0.5s;
    color: whitesmoke;
    z-index: 10000;
}

.images-loaded .loading {
    display: none;
}

.images-loaded .fade-me {
    opacity: 1;
}

.fade-me {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s linear 0.5s;
}

.underline-link {
    text-decoration: none;
    color: #f5f5f5 !important;
    display: inline;
    padding-bottom: 3px;
}

.actor-box {
    display: -webkit-inline-box;
}

.badge-btn, .badge-btn:hover {
    text-decoration: none;
    color: unset;
    padding-bottom: 3px
}

.breaklink {
    text-decoration: none;
    color: #f5f5f5;
}

.breaklink:hover {
    text-decoration: underline;
    color: #ffffff;
}