body {
    padding-top: 3.5rem;
    background: rgba(0, 0, 0, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgb(184, 184, 184));
    min-height: 100vh;
    /*font-family: 'Quicksand', sans-serif; */
}

.footercontent {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerimg {
    padding: 1rem;
    max-height: 100px;
    width: auto;
}

.indexmodel {
    min-height: 60vh;
    width: auto;
}

#typetext {
    font-size: 4rem;
    color: #f5f5f5;
}

#modelcont {
    opacity: 0;
}

.bitem-btn:hover {
    color: #f5f5f5;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.bitem-btn:active {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.bitem-text {
    color: #f5f5f5
}

.fadein {
    opacity: 0;
}

#map {
    height: calc(100vh - 3.5rem);
}



