body {
    padding-top: 3.5rem;
    background: rgba(0, 0, 0, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0) 15%, rgb(21, 21, 21) 50%, rgb(115, 115, 115) 80%, rgb(151, 151, 151));
    min-height: 100vh;
}



.footercontent {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerimg {
    padding: 1rem;
    max-height: 100px;
    width: auto;
}

.indexmodel {
    min-height: 60vh;
    width: auto;
}

#typetext-container {
    font-size: 4rem;
    color: #f5f5f5;
}

#modelcont, #learnmore {
    opacity: 0;
}

.bitem-btn:hover {
    color: #f5f5f5;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
}

.bitem-btn:active {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.bitem-text {
    color: #f5f5f5 !important
}

.fadein {
    opacity: 0;
}

.line-fade {
    position: relative;
}

.line-fade:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.line-fade:hover:before {
    visibility: visible;
    width: 100%;
}

.line-fade-m {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
}

.line-fade-m:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px !important;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.line-fade-m:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.line-fade-m:hover {
    color: white;
    transition: 0.3s;
}

.grow {
    transition: font-size .6s ease-in-out;
}

.grow:hover {
    font-size: 1.7rem;
}

#btn-back-to-top {
    position: fixed;
    opacity: 0.9;
    border: none;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    background: rgba(245, 245, 245) !important;
    color: rgb(69 69 69) !important;
    box-shadow: 0 0 4px 3px rgb(245 245 245) !important;
}

#btn-back-to-top:hover {
    background: #f2f2f2 !important;
    box-shadow: 0 0 5px 5px #f2f2f2 !important;
}

#btn-back-to-top:active {
    border-color: rgba(245, 245, 245, 0) !important;
    box-shadow: 0 0 6px 6px rgb(245 245 245) !important;
}

.info-buttons {
    color: #f5f5f5 !important;
    display: inline;
    padding-bottom: 10px;
}

.info-buttons > * {
    font-size: 1.2rem;
    height: 1.2rem;
    margin: 0.3rem;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bitem-link {
    color: #56b3b3;
    text-decoration: none;
}
