{% extends "layout.html" %}
{% block content %}

<script>data={{_data|tojson}}</script>
<script src="/static/js/functions.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="/static/vendor/node_modules/muuri/dist/muuri.min.js"></script>
<script src="/static/vendor/node_modules/shave/dist/shave.min.js"></script>

<link rel="stylesheet" href="/static/css/entities.css"/>

{% include 'submenu.html' %}

<main>


    <div id="tiles" class="grid fade-me">
    </div>

</main>

<script src="/static/js/entities.js"></script>

{% include 'footer.html' %}
{% endblock %}