{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/vendor/node_modules/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="/static/vendor/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
<script>const data = {{data | tojson}}</script>
<link rel="stylesheet" href="/static/css/item.css"/>
<script src="/static/vendor/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/static/vendor/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/js/mapfunctions.js"></script>
<script src="/static/vendor/node_modules/muuri/dist/muuri.min.js"></script>
<script src="/static/vendor/timeline-master/dist/js/timeline.min.js"></script>
<link href="/static/vendor/timeline-master/dist/css/timeline.min.css" rel="stylesheet"/>

<div class="loading">
    <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">{{_('loading')|uc_first}}...</span>
    </div>
</div>

<main>
    <div id="tiles" class="grid fade-me"></div>

</main>
<script src="/static/js/entity.js"></script>


{% include 'footer.html' %}
{% endblock %}%}