<div class="accordion-item">

    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <div class="offcanvas-header">
        <span>
        <h5 class="offcanvas-title"
            id="filterBarLabel">{{_('filter')|uc_first}}/{{_('sort')|uc_first}}</h5>
        </span>
            </div>
        </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#mainAccordion">
        <div class="accordion-body">

            <div id="filterBarBody">


                <div class="d-inline-flex">
                    <input id="searchField" type="search" class="border-input form-control bg-black bitem-text"
                           placeholder="{{_('search term')}}...">

                    <button id="resetBtn" type="button" class="btn-close" title="{{_('reset')|uc_first}}"><i
                            class="bi bi-arrow-counterclockwise"></i></button>
                </div>
                <h5 class="mt-5">{{_('sort by')|uc_first}}:</h5>
                <div class="bitem-text">
                      <span class="sortbuttons">
                              <a class="nav-link line-fade ms-3" href="#" onclick="sortGrid('names')"
                                 title="{{_('sort by')}} {{_('name')}}">{{_('name')|uc_first}}<i
                                      class="ms-1 bi bi-arrow-down-up"></i></a>
                              <a class="nav-link line-fade ms-3" href="#" onclick="sortGrid('types')"
                                 title="{{_('sort by')}} {{_('type')}}">{{_('type')|uc_first}}<i
                                      class="ms-1 bi bi-arrow-down-up"></i></a>
                              <a class="nav-link line-fade ms-3" href="#" onclick="sortGrid('begin')"
                                 title="{{_('sort by')}} {{_('begin')}}">{{_('begin')|uc_first}}<i
                                      class="ms-1 bi bi-arrow-down-up"></i></a>
                              <a class="nav-link line-fade ms-3" href="#" onclick="sortGrid('end')"
                                 title="{{_('sort by')}} {{_('end')}}">{{_('end')|uc_first}}<i
                                      class="ms-1 bi bi-arrow-down-up"></i></a>
                              <a id="list-switch" class="d-none nav-link line-fade ms-3" href="#"
                                 title="{{_('switch view')}}">
                                                <h4><i id="viewbutton" class="ms-1 bi bi-list-ul"></i></h4></a>
                      </span>
                </div>
                <h5 class="mt-5">{{_('filter by')|uc_first}}: </h5>
                <span class="sortbuttons ms-3">
            <div class="form-check form-check-inline" title="{{_('and')}}">
            <input class="form-check-input border-input radio-select" type="radio" name="inlineRadioOptions"
                   id="inlineRadio1"
                   value="and" checked>
                <label class="form-check-label" for="inlineRadio1"><i class="bi bi-intersect me-2"></i></label>
            </div>
            <div class="form-check form-check-inline" title="{{_('or')}}">
                <input class="form-check-input border-input radio-select" type="radio" name="inlineRadioOptions"
                       id="inlineRadio2"
                       value="or">
                <label class="form-check-label" for="inlineRadio2"><i
                        class="bi bi-grid me-2"></i></label>
            </div></span>

                <div id="filterAccordion" class="accordion accordion-flush">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                {{_('media')|uc_first}}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% if '3d Models' in media %}
                                <div class="form-check">
                                    <input class="form-check-input border-input filter-input" type="checkbox"
                                           value="_model"
                                           id="check-model">
                                    <label class="form-check-label" for="check-model">
                                        {{_('3D models')|uc_first}}
                                    </label>
                                </div>
                                {% endif %}
                                {% if 'Images' in media %}
                                <div class="form-check">
                                    <input class="form-check-input border-input filter-input" type="checkbox"
                                           value="_image"
                                           id="check-image">
                                    <label class="form-check-label" for="check-image">
                                        {{_('images')|uc_first}}
                                    </label>
                                </div>
                                {% endif %}
                                {% if 'No media' in media %}
                                <div class="form-check">
                                    <input class="form-check-input border-input filter-input" type="checkbox"
                                           value="_nomedia"
                                           id="check-nomedia">
                                    <label class="form-check-label" for="check-nomedia">
                                        {{_('no media')|uc_first}}
                                    </label>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#caseStudies" aria-expanded="false" aria-controls="caseStudies">
                                Case Studies
                            </button>
                        </h2>
                        <div id="caseStudies" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for row in csNames %}
                                {% set langKey = 'name' %}
                                {% if CURRENT_LANGUAGE == 'de' and row.de %}
                                {% set langKey = 'de' %}
                                {% elif CURRENT_LANGUAGE == 'en' and row.en %}
                                {% set langKey = 'en' %}
                                {% endif %}
                                <div class="form-check">
                                    <input class="form-check-input border-input filter-input" id="check-{{row.id}}"
                                           type="checkbox"
                                           value="_cs_{{ row.id }}">
                                    <label class="form-check-label" for="check-{{row.id}}">
                                        {{ row[langKey] }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#types" aria-expanded="false" aria-controls="types">
                                {{_('types')|uc_first}}
                            </button>
                        </h2>
                        <div id="types" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for row in types %}
                                {% set langKey = 'name' %}
                                {% if CURRENT_LANGUAGE == 'de' and row.DE %}
                                {% set langKey = 'DE' %}
                                {% elif CURRENT_LANGUAGE == 'en' and row.EN %}
                                {% set langKey = 'EN' %}
                                {% endif %}
                                <div class="form-check">
                                    <input class="form-check-input border-input filter-input" id="check-{{row.id}}"
                                           type="checkbox"
                                           value="_tp_{{ row.id }}">
                                    <label class="form-check-label" for="check-{{row.id}}">
                                        {{ row[langKey] }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <span id="timeslider" class="d-none">
            <div id="time" class="accordion-collapse collapse">
                    <div class="accordion-body">

                    </div>
                </div>
        <h5 class="mt-5">{{_('Timespan')|uc_first}}: </h5>
            <div class="ms-3 form-check form-check-inline">
                <input class="form-check-input border-input" type="checkbox" id="timeinc"
                       value="and" checked>
                <label class="form-check-label" for="timeinc">{{_('include entries without date')}}</label>
            </div>

        {% include 'slider.html' %}
        </span>
            </div>
        </div>
    </div>
</div>