<footer class="footer py-3 mt-auto">
    <div class="m-5 footercontent">
        <a href="https://www.nhm-wien.ac.at/" target="_blank">
            <img class="footerimg" src="/static/images/logos/nhm_logo.png"></a>
        <a href="https://archpro.lbg.ac.at/" target="_blank">
            <img class="footerimg" src="/static/images/logos/EN_ArchPro.png"></a>
        <a href="https://www.oeaw.ac.at/" target="_blank">
            <img class="footerimg" src="/static/images/logos/oeaw_logo.png"></a>
        <a href="https://www.univie.ac.at/" target="_blank">
            <img class="footerimg" src="/static/images/logos/Uni_Logo_2016.png"></a>
        <a href="https://www.oeaw.ac.at/acdh/" target="_blank">
            <img class="footerimg" src="/static/images/logos/acdh_logo.png"></a>
        <a href="https://openatlas.eu/" target="_blank">
            <img class="footerimg" src="/static/images/logos/openatlas_logo.png"></a>
    </div>
</footer>