<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>bITEM</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link href="/static/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="/static/vendor/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/static/vendor/node_modules/@google/model-viewer/dist/model-viewer.min.js"></script>
    <link href="/static/vendor/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/static/vendor/node_modules/typed.js/lib/typed.min.js"></script>
    <script src="/static/vendor/node_modules/vanilla-lazyload/dist/lazyload.min.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/icons/logo.png" alt="bITEM"
                                                                       width="auto" height="24"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link line-fade" href="{{ url_for('items') }}">{{_('items')|uc_first}}</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link line-fade" href="{{ url_for('persons') }}">{{_('persons')|uc_first}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link line-fade" href="{{ url_for('groups') }}">{{_('groups')|uc_first}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link line-fade" href="{{ url_for('events') }}">{{_('events')|uc_first}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link line-fade" href="{{ url_for('places') }}">{{_('places')|uc_first}}</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link line-fade" href="{{ url_for('about') }}">{{_('about')|uc_first}}</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% for language in AVAILABLE_LANGUAGES.items() %}
                    {% if CURRENT_LANGUAGE != language[0] %}
                    <li class="nav-item" title="{{language[1]}}">
                        <a class="nav-link" href="{{ url_for('set_language', language=language[0]) }}">
                            <i class="bi bi-globe me-1"></i>
                            <span id="language">{{language[0]}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </nav>
</header>

<button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
    <i class="bi bi-arrow-up"></i>
</button>

<script>
    language = document.getElementById("language").textContent;
    if (language === 'en') {
        language = 'de'
    } else {
        language = 'en'
    }
    iiifUrl = '{{IIIF_URL}}'
    iiifBase = '{{IIIF_BASE}}'
</script>
{% block content %}
{% endblock %}
</body>
</html>

