<link href="/static/css/slider.css" rel="stylesheet">

<div class="range_container">
    <div class="sliders_control">
        <input id="fromSlider" type="range"/>
        <input id="toSlider" type="range"/>
    </div>
    <div class="row">
        <div class="col-4">
            <input class="text-center slider" type="text" id="fromInput" disabled readonly/></div>
        <div class="col-4 text-center"> -</div>
        <div class="col-4">
            <input class="text-center slider" type="text" id="toInput" disabled readonly/>
        </div>
    </div>
</div>

