{% extends "layout.html" %}
{% block content %}

<script src="/static/js/functions.js"></script>
<link rel="stylesheet" class="line-fade" href="/static/css/style.css"/>
<link rel="stylesheet" class="line-fade" href="/static/css/about.css"/>


<main>
  <div class="fadein-container-about">
    <div class="bitem-text">
          <div class="row">
        <div class="col-3">
          <h3 >Beyond the Item</h3>
        </div>
        <div>
          <p>
              The bITEM project - short for Beyond the Item - Biographies and
              Itineraries of Cultural Heritage Objects in Museums and beyond - aims
              to present well-known museum objects in a state-of-the-art web
              application that is freely accessible online. The objects and their
              biographies are vividly described and, in addition to images and
              texts, 3D models as digital twins, timelines, and story maps are made
              available. Furthermore, the objects are presented with important
              actors in network visualizations.
              Object bibliographies thus become traceable and the journey of the
              exhibits to the museum is easy to understand.

              Within the project, data is  digitized according to the
              <a class="line-fade bitem-link" href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR principles</a>.
              Data are mapped using
              <a class="line-fade bitem-link" href="https://cidoc-crm.org/" target="_blank">CIDOC CRM</a>
              and provided online.
              <a class="line-fade bitem-link" href="https://openatlas.eu/" target="_blank">OpenAtlas</a> is used
              as backend to acquire, edit and manage data. It is entirely built
              upon open source software.

              Research and development at the within the bITEM project at the
              <a class="line-fade bitem-link" href="https://www.nhm-wien.ac.at/" target="_blank">NHM Wien</a>
              as well as at the <a class="line-fade bitem-link" href="https://archpro.lbg.ac.at/" target="_blank">LBI ArchPro</a>
              is funded by the <a class="line-fade bitem-link" href="https://www.oeaw.ac.at/foerderungen/godigital" target="_blank">go!digital 3.0</a>
              program of the <a class="line-fade bitem-link" href="https://www.oeaw.ac.at/" target="_blank">Austrian Academy of Sciences</a>
              (GD3.0_2021-17).
<br>
<br>
              More information and functionalites will be there soon! Please check in again to follow our progress.


           </p>
        </div>
      </div>
         <br>

    <div class="row">
        <div class="col-3">
          <h3>Team</h3>
          <h5>Principal Investigators</h5>
        </div>
        <p class="col-3">
          <b>Viola Winkler</b><br>
          Zoologist as well as operator for the MicroCT and the NHMW 3D
          Lab
        </p>
        <p class="col-3">
              <b>Roland Filzwieser</b><br>
              Historian and digital humanist with focus on archaeological
              prospection and landscape archaeologist
        </p>
    </div>

    <br>

    <div class="row">
        <div class="col-3">
          <h5>Core Team</h5>
        </div>
        <p class="col-3">
              <b>Stefan Eichert</b><br>
              Archaeologist and digital humanist
        </p>
        <p class="col-3">
              <b>Nikola Brodtmann</b><br>
              Geographer with focus on geology
        </p>
        <p class="col-3">
              <b>Anna Haider</b><br>
              Zoologist and expert for 3D scanning
        </p>
    </div>
      <div class="row">
        <div class="col-3"></div>
        <p class="col-3">
              <b>Sandrina Schwarz</b><br>
              Data acquisition
        </p>
        <p class="col-3">
              <b>Nina Richards</b><br>
              Archaeologist and Anthropologist
        </p>
    </div>

      <br>

       <div class="row">
        <div class="col-3">
          <h5>Additional Support</h5>
        </div>
        <p class="col-3">
              <b>Mathias Harzhauser</b><br>
              Geologist and paelontologist
        </p>
        <p class="col-3">
              <b>Andreas Kroh</b><br>
              Geologist and taxonomist
        </p>
        <p class="col-3">
              <b>Caroline Posch</b><br>
              Archaeologist
        </p>
    </div>
      <div class="row">
        <div class="col-3"></div>
        <p class="col-3">
              <b>Johannes Preiser-Kappeller</b><br>
              Analyst for historical networks
        </p>
        <p class="col-3">
              <b>Alexander Watzinger</b><br>
              Software developer
  <br>
  <br>

    <div class="row">
        <div class="col-3">
          <h3>Host Institutions and Contact</h3>
        </div>
          <p class="col-3">
            <a href="https://www.nhm-wien.ac.at/" target="_blank">
            <img class="footerimg" src="/static/images/logos/nhm_logo.png"></a><br>
            Natural History Museum Vienna
            (<a class="line-fade bitem-link" href="https://www.nhm-wien.ac.at/" target="_blank">NHMW</a>) <br>
            Contact: <a class="line-fade bitem-link" href="mailto:viola.winkler@nhm-wien.ac.at">Viola Winkler</a><br>
          </p>
          <p class="col-3">
            <a href="https://archpro.lbg.ac.at/" target="_blank">
            <img class="footerimg" src="/static/images/logos/EN_ArchPro.png"></a><br>
            Ludwig Boltzmann Institute for Archaeological Prospection & Virtual
            Archaeology (<a class="line-fade bitem-link" href="https://archpro.lbg.ac.at/" target="_blank">LBI ArchPro</a>) <br>
            Contact: <a class="line-fade bitem-link" href="mailto:roland.filzwieser@archpro.lbg.ac.at">Roland Filzwieser</a>

          </p>
          <p class="col-3">
            <a href="https://www.oeaw.ac.at/acdh/" target="_blank">
            <img class="footerimg" src="/static/images/logos/acdh_logo.png"></a><br>
            Austrian Centre for Digital Humanities and Cultural Heritage
            (<a class="line-fade bitem-link" href="https://www.oeaw.ac.at/acdh/" target="_blank">ACDH-CH</a>) <br>
            Contact: <a class="line-fade bitem-link" href="mailto:nina.richards@oeaw.ac.at">Nina Richards</a>
          </p>
        </div>


  <br>

          <h3 class="Host Institutions">Imprint</h3>
            <h4 class="card-title">Natural History Museum Vienna</h4>
              <p class="bitem-text">
                Burgring 7
                1010 Wien, Austria<br>
                Tel.: +43 1 52177-0<br>
                Fax: +43 1 52177-578<br>
                Web: www.nhm-wien.ac.at<br>
                E-Mail: info@nhm-wien.ac.at<br>
              <br>
                <b>Legal form</b>: Scientific institution under public law<br>
                <b>Commercial register number</b>: FN 236724 z<br>
                <b>Commercial register court</b>: Commercial Court Vienna<br>
                <b>UID No.</b>: ATU38020609<br>
                <b>Content and editorial responsibility</b>: Natural History Museum
                Vienna<br>
                <b>Competent supervisory authority</b>: Federal Chancellery,
                Concordiaplatz 2, 1010 Vienna
              </p>
              <br>
            <h4 class="bitem-text">Legal Note</h4>
              <p class="bitem-text">
                The creation, use, and non-commercial distribution of copies in
                electronic or printed form are permitted, provided that the
                content is not distorted and the source is acknowledged
                (source: NHM Vienna).
                <br>
                Texts, images, and graphics are protected by copyright and other
                protective laws, unless otherwise indicated. <br>
                Despite the greatest possible care in the preparation of this
                website, the NHM Vienna cannot guarantee the absence of errors or
                the accuracy of the information contained therein. The NHM Vienna
                excludes all liability for damages arising directly or indirectly
                from the use of the website.
              </p>
            </div>
          </div>
  </div>
</main>
<script> fadeIn("fadein", 500, "class")</script>
{% include 'footer.html' %}

{% endblock %}
