{% extends "layout.html" %} {% block content %}

<link href="/static/css/about.css" rel="stylesheet"/>

<div class="about-container">
    <div id="about-main" class="about-card bitem-text">
        <h1 class="en">About us</h1>
        <h1 class="de">Über uns</h1>
            <span class="en">
            The bITEM project - short for Beyond the Item - Biographies and
            Itineraries of Cultural Heritage Objects in Museums and beyond - aims to
            present well-known museum objects in a state-of-the-art web application
            that is freely accessible online. The objects and their biographies are
            vividly described and, in addition to images and texts, 3D models, 
            timelines, and story maps are made available. Furthermore,
            the objects are presented with important actors in network visualizations.
            Object biographies thus become traceable and the journey of the exhibits
            to the museum is easy to understand. Within the project, data is digitized
            according to the
            <a class="bitem-link" href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR principles</a>
            . Data are mapped using
            <a class="bitem-link" href="https://cidoc-crm.org/" target="_blank">CIDOC CRM</a> and provided online.
            <a class="bitem-link" href="https://openatlas.eu/" target="_blank">OpenAtlas</a>
            is used as backend to acquire, edit and manage data. It is entirely built
            upon open source software. Research and development within the bITEM
            project at the
            <a class="bitem-link" href="https://www.nhm-wien.ac.at/" target="_blank">Natural History Museum Vienna</a>
            as well as at the
            <a class="bitem-link" href="https://vias.univie.ac.at/" target="_blank">University of Vienna</a>
            are funded by the
            <a class="bitem-link" href="https://www.oeaw.ac.at/foerderungen/godigital" target="_blank">go!digital 3.0</a>
            program of the
            <a class="bitem-link" href="https://www.oeaw.ac.at/" target="_blank">Austrian Academy of Sciences</a>
            </span>
            <span class="de">Das bITEM-Projekt - kurz für Beyond the Item - Biografien und Itinierarien
            von Objekten des kulturellen Erbes in Museen und darüber hinaus - zielt darauf ab,
            bekannte Museumsobjekte in einer hochmodernen Webanwendung zu
            präsentieren, die online frei zugänglich ist. Die Objekte und ihre
            Biografien werden lebhaft beschrieben und neben Bildern und Texten stehen
            auch 3D-Modelle, Zeitleisten und Story Maps zur
            Verfügung. Darüber hinaus werden die Objekte mit wichtigen Akteuren in
            Netzwerkvisualisierungen präsentiert. Objektbiografien und die Reisen der
            Exponate zum Museum werden dadurch nachvollziehbar und leicht
            verständlich. Im Rahmen des Projekts werden die Daten entsprechend der
            <a class="bitem-link" href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR Prinzipen</a>
            digitalisiert. Die Daten werden anhand des
            <a class="bitem-link" href="https://cidoc-crm.org/" target="_blank">CIDOC CRM</a>
            kartiert und online bereitgestellt.
            <a class="bitem-link" href="https://openatlas.eu/" target="_blank">OpenAtlas</a>
            wird als Backend zur Beschaffung, Bearbeitung und Verwaltung von Daten
            genutzt und basiert vollständig auf einer Open-Source-Software. Die Finanzierung für Forschung und Entwicklung 
            innerhalb des bITEM-Projekts, welche am
            <a class="bitem-link" href="https://www.nhm-wien.ac.at/" target="_blank">Naturhistorischen Museum Wien</a>
            und an der
            <a class="bitem-link" href="https://vias.univie.ac.at/" target="_blank">Universität Wien</a>
            und am
            <a class="bitem-link" href="https://archpro.lbg.ac.at/" target="_blank">Ludwig Boltzmann Institut</a>
            angesiedelt ist, erfolgt durch das
            <a class="bitem-link" href="https://www.oeaw.ac.at/foerderungen/godigital" target="_blank">go!digital 3.0</a>
            Programm der
            <a class="bitem-link" href="https://www.oeaw.ac.at/" target="_blank">Österreichischen Akademie der Wissenschaften</a>
            .
            </span>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="about-card bitem-text">
                <h2 class="en">Principal Investigators</h2>
                <h2 class="de">Projektleiter*innen</h2>

                <h4>Stefan Eichert</h4>
                <span class="en">Lead developer, archaeologist and digital humanist</span>
                <span class="de">Chefentwickler, Archäologe and digitaler Humanist</span>
                

                <h4>Roland Filzwieser</h4>

                <span class="en">
                Historian and digital humanist with focus on archaeological
                prospection and landscape archaeology</span>
                <span class="de">Historiker und digitaler Humanist mit Fokus auf archäologische
                Prospektion und Landschaftsarchäologie.</span>

                <h4>Viola Winkler</h4>

                <span class="en">Zoologist as well as operator for the MicroCT and the 3DLab of the Natural History Museum Vienna</span>
                <span class="de">Zoologin und Betreiberin des Mikro-CT sowie des 3D-Labors am Naturhistorischen Museum Wien</span>

                <h4 class="en">Host Institutions and Contact</h4>
                <h4 class="de">Host Institutionen und Kontakt</h4>

                <div class="about-contact">

                    <a href="https://www.nhm-wien.ac.at/" target="_blank">
                        <img src="/static/images/logos/nhm_logo.png"/></a>

                    <a class="mt-3 bitem-link" href="mailto:viola.winkler@nhm-wien.ac.at">
                    <h5><i class="me-1 bi bi-envelope"></i>Viola Winkler</h5>
                    </a>

                </div>

                <div class="about-contact">

                    <a href="https://vias.univie.ac.at/" target="_blank">
                        <img src="/static/images/logos/Uni_Logo_2016_darker.png"/></a>
                    <a class="mt-3 bitem-link" href="mailto:roland.filzwieser@univie.ac.at">
                    <h5><i class="me-1 bi bi-envelope"></i>Roland Filzwieser</h5>
                    </a>

                </div>

                <div class="about-contact">

                    <a href="https://www.oeaw.ac.at/acdh/" target="_blank">
                        <img src="/static/images/logos/acdh_logo.png"/></a>
                    <a class="mt-3 bitem-link" href="mailto:nina.richards@oeaw.ac.at">
                    <h5><i class="me-1 bi bi-envelope"></i> Nina Richards</h5>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="about-card bitem-text">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="en">Core Team</h2>
                        <h2 class="de">Team</h2>

                        <h4>Nikola Brodtmann</h4>
                        <span class="en">Geographer with focus on geology</span>
                        <span class="de">Geografin mit Fokus auf Geologie</span>

                        <h4>Anna Haider</h4>
                        <span class="en">Zoologist and expert for 3D scanning</span>
                        <span class="de">Zoologin und Expertin für 3D Scans</span>
                        
                        <h4>Jacqueline Huber</h4>
                        <span class="en">Archaeologist</span>
                        <span class="de">Archäologin</span>

                        <h4>Aleksandar Miloradović</h4>
                        <span class="en">Historian and software developer</span>
                        <span class="de">Historiker und Softwareentwickler</span>

                        <h4>Celestine Posch</h4>
                        <span class="en">Archaeologist</span>
                        <span class="de">Archäologin</span>

                        <h4>Nina Richards</h4>
                        <span class="en">Archaeologist and anthropologist</span>
                        <span class="de">Archäologin und Anthropologin</span>

                        <h4>Sandrina Schwarz</h4>
                        <span class="en">Data acquisition</span>
                        <span class="de">Datenerfassung</span>

                    </div>

                    <div class="col-sm-6">
                        <h2 class="en">Additional Support</h2>
                        <h2 class="de">Unterstützende Mitarbeiter*innen</h2>

                        <h4>Mathias Harzhauser</h4>
                        <span class="en">Geologist and paelontologist</span>
                        <span class="de">Geologe und Paläontologe</span>

                        <h4>Andreas Kroh</h4>
                        <span class="en">Geologist and taxonomist</span>
                        <span class="de">Geologe und Taxonom</span>

                        <h4>Caroline Posch</h4>
                        <span class="en">Archaeologist</span>
                        <span class="de">Archäologin</span>

                        <h4>Johannes Preiser-Kappeller</h4>
                        <span class="en">Analyst for historical networks</span>
                        <span class="de">Analytiker für historische Netzwerke</span>

                        <h4>Alexander Watzinger</h4>
                        <span class="en">Software developer</span>
                        <span class="de">Softwareentwickler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-card bitem-text">
        <div class="row">
            <div class="col-md-6">
        <span class="en">
          <h4>Imprint</h4>
          Natural History Museum Vienna<br/>
          Burgring 7, 1010 Wien<br/>
          Austria Tel.: +43 1 52177-0<br/>
          Fax: +43 1 52177-578<br/>
          Web: www.nhm-wien.ac.at<br/>
          E-Mail: info@nhm-wien.ac.at<br/><br/>
          Legal form: Scientific institution under public law<br/>
          Commercial register number: FN 236724 z<br/>
          Commercial register court: Commercial Court Vienna<br/>
          UID No.: ATU38020609<br/>
          Content and editorial responsibility: Natural History Museum Vienna<br/>
          Competent supervisory authority: Federal Chancellery, Concordiaplatz
          2, 1010 Vienna
        </span>
                <span class="de">
          <h4>Impressum</h4>
          Naturhistorisches Museum Wien<br/>
          Burgring 7, 1010 Wien<br/>
          Tel.: +43 1 52177-0<br/>
          Fax: +43 1 52177-578<br/>
          Web: www.nhm-wien.ac.at<br/>
          E-Mail: info@nhm-wien.ac.at<br/><br/>
          Rechtsform: Wissenschaftliche Anstalt öffentlichen Rechts<br/>
          Firmenbuchnummer: FN 236724 z<br/>
          Firmenbuchgericht: Handelsgericht Wien<br/>
          UID Nr.: ATU38020609<br/>
          Inhaltliche und redaktionelle Verantwortung: Naturhistorisches Museum
          Wien<br/>
          Zuständige Aufsichtsbehörde: Bundeskanzleramt, Concordiaplatz 2, 1010
          Wien
        </span>
            </div>

            <div class="col-md-6">
        <span class="en">
          <h4>Legal Note</h4>
          The creation, use, and non-commercial distribution of copies in<br/>
          electronic or printed form are permitted, provided that the content
          is<br/>
          not distorted and the source is acknowledged (source: NHM Vienna).<br/>
          Texts, images, and graphics are protected by copyright and other<br/>
          protective laws, unless otherwise indicated. Despite the greatest<br/>
          possible care in the preparation of this website, the NHM Vienna
          cannot<br/>
          guarantee the absence of errors or the accuracy of the information<br/>
          contained therein. The NHM Vienna excludes all liability for
          damages<br/>
          arising directly or indirectly from the use of the website.<br/>
        </span>
                <span class="de">
          <h4>Rechtliche Hinweise</h4>
          Die Erstellung, die Verwendung und die nicht kommerzielle Weitergabe
          von Kopien<br/>
          in elektronischer oder ausgedruckter Form sind erlaubt, wenn der
          Inhalt nicht entstellt <br/>
          und die Quelle angegeben wird (Quelle: NHM Wien). Texte, Bilder und
          Grafiken unterliegen <br/>
          dem Schutz des Urheberrechts und anderer Schutzgesetze, soweit nicht
          anders angegeben. <br/>
          Trotz größtmöglicher Sorgfalt bei der Erstellung dieser Website kann
          das NHM Wien nicht <br/>
          die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen
          garantieren. <br/>
          Das NHM Wien schließt jegliche Haftung für Schäden, die direkt oder
          indirekt aus der <br/>
          Benutzung der Website entstehen, aus.<br/>
        </span>
            </div>
        </div>
    </div>
</div>

<script>
    languageToggle();
</script>

{% include 'footer.html' %} {% endblock %}
