{% extends "layout.html" %}
{% block content %}

<link href="/static/css/about.css" rel="stylesheet">

<div class="about-container">

    <div id="about-main" class="about-card bitem-text">
        <h1>About us</h1>
        <p>
            The bITEM project - short for Beyond the Item - Biographies and
            Itineraries of Cultural Heritage Objects in Museums and beyond - aims
            to present well-known museum objects in a state-of-the-art web
            application that is freely accessible online. The objects and their
            biographies are vividly described and, in addition to images and
            texts, 3D models as digital twins, timelines, and story maps are made
            available. Furthermore, the objects are presented with important
            actors in network visualizations.
            Object bibliographies thus become traceable and the journey of the
            exhibits to the museum is easy to understand.

            Within the project, data is digitized according to the
            <a class="line-fade bitem-link" href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR
                principles</a>.
            Data are mapped using
            <a class="line-fade bitem-link" href="https://cidoc-crm.org/" target="_blank">CIDOC CRM</a>
            and provided online.
            <a class="line-fade bitem-link" href="https://openatlas.eu/" target="_blank">OpenAtlas</a> is
            used
            as backend to acquire, edit and manage data. It is entirely built
            upon open source software.

            Research and development at the within the bITEM project at the
            <a class="line-fade bitem-link" href="https://www.nhm-wien.ac.at/" target="_blank">NHM Wien</a>
            as well as at the <a class="line-fade bitem-link" href="https://archpro.lbg.ac.at/" target="_blank">LBI
                ArchPro</a>
            is funded by the <a class="line-fade bitem-link" href="https://www.oeaw.ac.at/foerderungen/godigital"
                target="_blank">go!digital
                3.0</a>
            program of the <a class="line-fade bitem-link" href="https://www.oeaw.ac.at/" target="_blank">Austrian
                Academy of Sciences</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="about-card-team bitem-text">
                <h2>Principal Investigators</h2>
                <p>
                    <b>Viola Winkler</b><br>
                    Zoologist as well as operator for the MicroCT and the NHMW 3D Lab
                </p>

                <p>
                    <b>Roland Filzwieser</b><br>
                    Historian and digital humanist with focus on archaeological prospection and landscape archaeologist
                </p>

                <p>
                    <h3>Host Institutions and Contact</h3>
                    <p class="col-3">
                        <a href="https://www.nhm-wien.ac.at/" target="_blank">
                            <img class="footerimg" src="/static/images/logos/nhm_logo.png"></a>
                        <br>
                        Contact: <a class="line-fade bitem-link" href="mailto:viola.winkler@nhm-wien.ac.at">Viola
                            Winkler</a><br>
                    </p>
                    <p class="col-3">
                        <a href="https://archpro.lbg.ac.at/" target="_blank">
                            <img class="footerimg" src="/static/images/logos/EN_ArchPro.png"></a><br>
                            <br>
                        Contact: <a class="line-fade bitem-link"
                            href="mailto:roland.filzwieser@archpro.lbg.ac.at">Roland
                            Filzwieser</a>

                    </p>
                    <p class="col-3">
                        <a href="https://www.oeaw.ac.at/acdh/" target="_blank">
                            <img class="footerimg" src="/static/images/logos/acdh_logo.png"></a>
                        <br>
                        Contact: <a class="line-fade bitem-link" href="mailto:nina.richards@oeaw.ac.at">Nina
                            Richards</a>
                    </p>
                    </p>


            </div>
        </div>
        <div class="col-md-8">
            <div class="about-card-team bitem-text">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                        <h4>Core Team</h4>
                        <p>
                            <b>Stefan Eichert</b><br>
                            Archaeologist and digital humanist
                        </p>
                        <p>
                            <b>Nikola Brodtmann</b><br>
                            Geographer with focus on geology
                        </p>
                        <p>
                            <b>Anna Haider</b><br>
                            Zoologist and expert for 3D scanning
                        </p>
                        <p>
                            <b>Sandrina Schwarz</b><br>
                            Data acquisition
                        </p>
                        <p>
                            <b>Nina Richards</b><br>
                            Archaeologist and Anthropologist
                        </p>
                        <p>
                            <b>Celestine Posch</b><br>
                            Archaeologist
                        </p>
                        <p>
                            <b>Aleksandar Miloradovic</b><br>
                            Historian and Software developer
                        </p>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                        <h4>Additional Support</h4>
                        <p>
                            <b>Mathias Harzhauser</b><br>
                            Geologist and paelontologist
                        </p>
                        <p>
                            <b>Andreas Kroh</b><br>
                            Geologist and taxonomist
                        </p>
                        <p>
                            <b>Caroline Posch</b><br>
                            Archaeologist
                        </p>
                        <p>
                            <b>Johannes Preiser-Kappeller</b><br>
                            Analyst for historical networks
                        </p>
                        <p>
                            <b>Alexander Watzinger</b><br>
                            Software developer
                        </p>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="col-md-6">
                        <p>
                        <h3>Host Institutions and Contact</h3>
                        <p class="col-3">
                            <a href="https://www.nhm-wien.ac.at/" target="_blank">
                                <img class="footerimg" src="/static/images/logos/nhm_logo.png"></a><br>
                            Natural History Museum Vienna
                            (<a class="line-fade bitem-link" href="https://www.nhm-wien.ac.at/"
                                target="_blank">NHMW</a>)
                            <br>
                            Contact: <a class="line-fade bitem-link" href="mailto:viola.winkler@nhm-wien.ac.at">Viola
                                Winkler</a><br>
                        </p>
                        <p class="col-3">
                            <a href="https://archpro.lbg.ac.at/" target="_blank">
                                <img class="footerimg" src="/static/images/logos/EN_ArchPro.png"></a><br>
                            Ludwig Boltzmann Institute for Archaeological Prospection & Virtual
                            Archaeology (<a class="line-fade bitem-link" href="https://archpro.lbg.ac.at/"
                                target="_blank">LBI
                                ArchPro</a>) <br>
                            Contact: <a class="line-fade bitem-link"
                                href="mailto:roland.filzwieser@archpro.lbg.ac.at">Roland
                                Filzwieser</a>

                        </p>
                        <p class="col-3">
                            <a href="https://www.oeaw.ac.at/acdh/" target="_blank">
                                <img class="footerimg" src="/static/images/logos/acdh_logo.png"></a><br>
                            Austrian Centre for Digital Humanities and Cultural Heritage
                            (<a class="line-fade bitem-link" href="https://www.oeaw.ac.at/acdh/"
                                target="_blank">ACDH-CH</a>)
                            <br>
                            Contact: <a class="line-fade bitem-link" href="mailto:nina.richards@oeaw.ac.at">Nina
                                Richards</a>
                        </p>
                        </p>
                    </div> -->


{% include 'footer.html' %}

{% endblock %}