{% extends "layout.html" %} {% block content %}

<link href="/static/css/about.css" rel="stylesheet"/>

<div class="about-container">
    <div id="about-main" class="about-card bitem-text">
        <a class="btn btn-primary" href="{{ url_for('synchronise') }}" role="button">Synchronise Data</a>
    </div>
</div>

{% if stories %}
<div class="accordion" id="storyAccordion">
  {% for story in stories %}
    <div class="accordion-item">
    <h2 class="accordion-header" id="storyHeading{{story.id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#story{{story.story_id}}" aria-expanded="true" aria-controls="collapseOne">
          {{story.story_name}}
      </button>
    </h2>
    <div id="story{{story.story_id}}" class="accordion-collapse collapse" aria-labelledby="storyHeading{{story.id}}" data-bs-parent="#storyAccordion">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% include 'footer.html' %} {% endblock %}
