{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="/static/vendor/node_modules/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="/static/vendor/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
<link rel="stylesheet" href="/static/vendor/node_modules/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="/static/vendor/node_modules/vis-timeline/styles/vis-timeline-graph2d.min.css"/>
<link rel="stylesheet" href="/static/css/storymap.css"/>

<script src="/static/vendor/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/static/vendor/node_modules/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/node_modules/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>

<script>
    const data = {{ data | tojson }};
</script>

<main>
    <div id="map"></div>
    <div id="timeline-container">
        <div class="resizer"></div>
        <div id="timeline"></div>
    </div>
    <div id="detailsContainer" class="draggable hidden">
        <div class="header">draggable
          <span id="closeBtn" style="
          width: 100%;
          text-align: right;
          margin-right: 1rem;
          ">X</span>
        </div>
        <div id="spinner" class="spinner hidden"></div>
        <div id="detailsContent"></div>
    </div>
    <button id="toggleTimelineBtn">Timeline on/off</button>
</main>

   

<script src="/static/js/storymap.js"></script>
{% endblock %}